ul {
  list-style-type: none;
  margin: 16px 0;
  padding: 0;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.single-todo > div > input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.main-card {
  min-width: 500px;
  min-height: 600px;
}

.single-todo {
  margin-bottom: 16px;
}

.completed {
  background-color: #a6e9a8;
}
